$input-focus-color: yellow;
$separator-default-color: white;

.separate-vert li:not(:last-child) {
    border-right: 1px solid $separator-default-color;
}

.half-tall {
    width: 50%;
}

.padding {
    &-top{
        padding-top: 20%;
    }
    &-bottom{
        padding-bottom: 50px;
    }
    &-5-left{
        &.brand-logo{
            padding-left: 5%;
        }
    }
}

.modal-transparent {
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    background-color: transparent;
}

.transparent {
    background-color: rgba($color: black, $alpha: 0);
}

.map {
    width: 100%;
    height: 50vw;
}

img.crop {
        width: 100%;
        height: 20vh;
        object-fit: cover;
}
.force-300px{
    
    img{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
} 

